dl.class {
    margin-bottom:1.2em;
}

dl > dt:before {
    opacity:.5;
    font-size:.8em;
    margin:0 -1ex 0 .2em;
}

dl.attribute > dt:before {
    content:"∋";
}

dl.function > dt:before {
    content:"ƒ";
    font-style:italic;
}

dl.attribute {
    background:rgba(0,0,0,.02);
}
